
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top sombreado">
  <a class="navbar-brand" href="#">
    <img src="../../../../assets/img/logo_tt.png" width="120px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" [routerLink]="['/home']" routerLinkActive>Inicio </a>
      <a *ngIf="logueado" class="nav-item nav-link" [routerLink]="['/participando']" routerLinkActive>Próximos eventos</a>
      <a *ngIf="logueado" class="nav-item nav-link" [routerLink]="['/miseventos']" routerLinkActive="">Mis eventos</a>
    </div>
  </div>
  <div>
    <ul class="navbar-nav">
      <a *ngIf="!logueado" class="nav-item nav-link text-white " data-toggle="modal" data-target="#modallogin">LogIn </a>
      <a *ngIf="!logueado" class="nav-item nav-link" [routerLink]="['registro']">Registrarse</a>
      <a *ngIf="logueado" class="nav-item nav-link" (click)="cerrarSesion()" href="#">Salir</a>
    </ul>
  </div>
</nav>



<div class="modal fade" id="modallogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>
